body{
	margin: 0;
	background: rgb(83,83,83);
	color: white;
}
h1 {
	text-align: center;
	margin-bottom: 0px;
}
.menu-container{
	background: rgb(23,23,23);
	padding: 10px;
	margin-bottom: 15px;
}
.algorithm-container{
	display: flex;
	justify-content: space-between;
	margin: 0 5%;
}
.algorithm-name{
	font-size: 45px;
}
.algo-left, .algo-right{
		width: 45%;
}
.implementation-container{
	display: flex;
	background: rgb(40,40,40);
	border: 5px outset #646b7b;
	outline: 1px solid black;
}
pre {
	margin: 0px 10px 5px 5px;
}
.implementation{
	counter-set: code;
	font-size: 1vw;
}
.code-line{
	float: left;
	clear: left;
}
.code-line::before{
    content: counter(code);
    counter-increment: code;
    color: gray;
    display: inline-block;
    width: 30px;
    text-align: right;
    margin-right: 5px;
    background: #1c1c1c;
    padding-right: 5px;
}
.data-container{
	margin: 15px 0;
	display: flex;
	justify-content: center;
}
#data-output, #testing-n-output{
	background: #ff8100;
	padding: 5px;
	color: white;
	font-style: italic;
	border-radius: 5px;
}
#testing-n-output{
	margin-left: 20px;
}
.testing-output{
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #363636;
    border: 2px solid white;
}
.data-input-text{
	font-size: 20px;
}
#data-input{
	margin-left: 10px;
}
.particular-algorithm{
	display: none;
}
.testing-div{
	display: block;
}
.testing{
	float: left;
	clear: both;
}
.welcome, .explanation{
	font-size: 20px;
}
.explanation{
	margin-top: 30px;
}
.particular-algorithm, .testing-div{
	margin-top: 15px;
    border-top: 1px solid white;
    padding-top: 15px;
}
#ns-input-text, #hm-input-text{
	font-size: 20px;
	width: 30px;
	text-align: right;
	display: inline-block;
}
.testing-input{
	float: left;
	clear: both;
	margin-top: 15px;
	width: 100%;
	margin-bottom: 30px;
}
.test-input-bar{
	margin-left: 10px;
}
.testing-input-row{
	float: left;
	clear: both;
}
.output{
	padding: 20px;
    word-break: break-word;
    width: 100%;
}
.opis{
	margin-bottom: 15px;
}
.sort-input{
	clear: both;
}
span.info{
	margin-bottom: 15px;
	float: left;
	clear: both;
	background: #393939;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}
span b{
	background: #252525;
    padding: 4px;
    border-radius: 20px;
    border: 1px solid black;
}
.float{
	float: left;
	clear: both;
}
.opis-margin{
	margin-bottom: 15px;
}
